body {
    background-color: rgba(242,243,245,255);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #002b45;
    display: flex;
    justify-content: end;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    z-index: 1000;
    height: 40px;
}

.header h4 {
    margin: 0;
    padding: 10px 20px;
    color: rgba(242,243,245,255);
}

.top {
    height: 60px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    z-index: 10;
    top: 40px;
    transition: top 0.3s;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(242,243,245,255);
    border-bottom: #002b45 solid 3px;
}

.imageContainerTop {
    height: 100%;
    aspect-ratio: 5/4;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
}

.menu-item span {
    font-size: 16px;
    font-weight: bold;
    color: #002b45;
    padding-bottom: 10px;
}

.menu_text {
    text-decoration: none;
}

.menu-item {
    margin-left: 30px;
}

.left-menu {
    margin-right: 30px;
    justify-content: end;
}

.right-menu {
    margin-right: 5.3%;
}

.left-menu, .right-menu {
    display: flex;
    align-items: center;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #002b45;
    bottom: -3px;
    margin-top: 10px;
    left: 0;
}

.menu-item:hover .bar {
    background-color: #007bff;
}

.intro {
    padding-left: 20px;
    background-color: #d1d1d1;
    width: 100%;
    height: 450px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    color: #002b45;
}

.intro h1 {
    font-size: 45px;
}

.intro p {
    font-size: 35px;
    font-weight: 50;
}

.intro img {
    z-index: 6;
    margin-right: 17px;
    margin-top: 50px;
    height: 480px;
}

.text {
    width: 45%;
}

.pakkettenTopText {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #002b45 dotted 3px;
}

.pakkettenTopText h1 {
    color: #002b45;
    text-align: center;
}

.pakketten {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#pakket {
    width: 20%;
    height: 500px;
    background-color: #d1d1d1;
    border-radius: 20px;
    display: flex;
}

.pakketTop {
    width: 95%;
    height: 60px;
    margin-left: 2.5%;
    border-bottom: #002b45 solid 2.5px;
}

.pakketTop p {
    color: #002b45;
    font-size: 25px;
    font-weight: 600;
    padding-left: 10px;
}

.clouds-transitionContainer {
    z-index: 2;
}

.clouds-transition {
    position: relative;
    width: 100%;
    margin: 0;
    padding: -1;
    display: block;
    z-index: 99;
}

.footer {
    background-color: #002b45;
    height: 300px;
    color: rgba(242,243,245,255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer {
    width: 40%;
    height: 80%;
    line-height: .6;
}

.CONTACT {
    margin-left: 3%;
}

.Socials {
    margin-top: 0%;
    margin-left: 3%;
}

#link {
    text-decoration: none;
    color: rgba(242,243,245,255);
    line-height: .3;
}


.contact_images img {
    width: 4%;
}

.Socials_images img {
    width: 4%;
    margin-left: 4px;
}