.on {
    background-color: greenyellow;
    border: 5px solid rgb(157, 230, 84);
}

.apple {
    background-color: rgb(255, 42, 42);
    border: 5px solid rgb(177, 34, 34);
}

body {
    background-color: aliceblue;
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    background-color: lightgrey;
    border: 3px solid gray;
    width: 700px;
    height: 700px;
    margin: 0%;
    margin-bottom: 20px;
    border-spacing: 0cm;
}

tr, td {
    width: 5%;
    height: 5%;
    padding: 0%;
    margin: 0%;
}
