@keyframes rgb {
    12.5% { background-color: rgb(255, 0, 0);
            border-color: rgb(255, 0, 191);}
    25% {   background-color: rgb(255, 153, 0);
            border-color: rgb(153, 0, 255);}
    37.5% { background-color: rgb(251, 255, 0);
            border-color: rgb(0, 4, 255);}
    50% {   background-color: rgb(0, 255, 13);
            border-color: rgb(0, 255, 221);}
    62.5% { background-color: rgb(0, 255, 221);
            border-color: rgb(0, 255, 13);}
    75% {   background-color: rgb(0, 4, 255);
            border-color: rgb(251, 255, 0);}
    87.5% { background-color: rgb(153, 0, 255);
            border-color: rgb(255, 153, 0);}
    100% {  background-color: rgb(255, 0, 191);
            border-color: (255, 0, 0);}
}

.on {
    background-color: greenyellow;
    border: 5px solid rgb(157, 230, 84);
}

.apple {
    background-color: rgb(255, 42, 42);
    border: 5px solid rgb(177, 34, 34);
}

.GoldApple {
    background-color: yellow;
    border: 5px solid rgb(219, 187, 4);
}

.DiamondApple {
    background-color: rgb(0, 187, 255);
    border: 5px solid rgb(0, 140, 156);
}

.RGBapple {
    animation-name: rgb;
    animation-duration: 2s;
    border: solid 5px;
    animation-iteration-count: infinite;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; height: 100%; overflow: hidden
}

table {
    margin-top: 2%;
    background-color: lightgrey;
    border: 3px solid gray;
    width: 38%;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    border-spacing: 0cm;
}

tr, td {
    width: 5%;
    height: 5%;
    padding: 0%;
    margin: 0%;
}

#countdown, #scoreText {
    color: rgb(0, 0, 0);
    text-align: center;
}
h1 {
    margin: 0%;
}